.App {
  background-color: #041c32;
  height: 600px;
  width: 100%;
}
.header {
  height: 10vh;
  background-color: #ecb365;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 20px;
  border-bottom: 5px solid #c74b50;

  top: 0;
}
#searchBox {
  height: 6vh;
  width: 47vw;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#printoutPanel {
  max-height: 245px;
}
#directionsInputContainer {
  padding-left: 20px;
}
#route {
  background-color: white;
  float: left;
  width: 30%;
  overflow-y: scroll;
  max-height: 530px;
}
#myMap {
  width: 70%;
  height: 480px;
  float: right;
  position: static;
}

#toggleTrafficButton {
  position: absolute;
  top: 15px;
  left: 65%;
}
